@page
@model Beercyclopedia.Pages.Styles.IndexModel

<div class="container p-3">
    <div class="row pt-8">
        <div class="col-6">
            <h2 class="text-primary">Styles List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary">Create</a>
        </div>
    </div>
    
    <br/> <br/>
    
    <table class="table table-bordered table-stripped" style="width: 100%">
        <thead>
        <tr>
            <th>
                Style
            </th>
            <th class="text-center">
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Styles)
        {
            <tr>
                <td width="90%">@obj.Name</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-secondary mx-0 btn-sm"><i class="bi bi-pencil-square" role="img" aria-label="Edit"></i></a>
                    <form asp-page-handler="duplicate" method="post" class="form-check-inline mx-0" asp-route-id="@obj.Id">
                        <button class="btn btn-primary btn-sm"><i class="bi-plus-square-fill" role="img" aria-label="Duplicate" alt="Duplicate"></i></button>
                    </form>
                    <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-0 btn-sm"><i class="bi bi-trash" role="img" aria-label="Delete"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p>Total styles listed: @Model.Styles.Count()</p>
</div>