@page
@model Beercyclopedia.Pages.Beers.DetailModel

<div class="border p-3 mt-4">
    <div class="row pb-2">
        <h1 class="text-primary">Beer Details</h1>
        <hr/>
    </div>
    <div class="mb-3">
        <p><strong>Beer Name:</strong> @Model.Beer.Name</p>
        <p><strong>Brand Brand:</strong> @Model.Brand.Name</p>
        <p><strong>Model Style:</strong> @Model.Style.Name</p>
        <p><strong>Rating:</strong> 
            @{
                for (int i = 0; i < @Model.Beer.Rating; i++)
                {
                    <i class="bi bi-star-fill"></i>
                }
            }
        </p>
        <p> <strong>IBU:</strong> @Model.Beer.IBU</p>
        <p><strong>Beer Description:</strong> @Model.Beer.Description</p>
        <a asp-page="Index" class="btn btn-secondary m-2">Return</a>
    </div>
</div>