@page
@model Beercyclopedia.Pages.Beers.IndexModel

<partial name="Shared/_Notification"/>

<div class="container p-3">
    <div class="row pt-8">
        <div class="col-6">
            <h2 class="text-primary">Beers List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i>&nbsp;Create</a>
        </div>
    </div>
    
    <br/> <br/>
    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@Model.IdSort" class="link-light">Name</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@Model.BrandSort" class="link-light">Brand</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@Model.StyleSort" class="link-light">Style</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-sortOrder="@Model.RatingSort" class="link-light">@Html.DisplayNameFor(model => model.Beers[0].Rating)</a>
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Beers)
        {
            <tr>
                <td width="25%"><a asp-page="Detail" asp-route-id="@obj.Id" class="link-light">@obj.Name</a></td>
                <td width="25%">@obj.Brands.Name</td>
                <td width="20%">@obj.Styles.Name</td>
                <td width="15%">
                            @{
                                for (int i = 0;  i < @obj.Rating; i++)
                                {
                                    <i class="bi bi-star-fill"></i>
                                }
                            }
                </td>
                <td width="15%">
                    <a asp-page="Detail" asp-route-id="@obj.Id" class="btn btn-primary btn-sm mx-0"><i class="bi bi-card-text" role="img" aria-label="Detail" alt="Detail"></i></a>
                    <form asp-page-handler="duplicate" method="post" class="form-check-inline mx-0" asp-route-id="@obj.Id">
                        <button class="btn btn-primary btn-sm"><i class="bi-plus-square-fill" role="img" aria-label="Duplicate" alt="Duplicate"></i></button>
                    </form>
                    <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-secondary btn-sm mx-0"><i class="bi bi-pencil-square" role="img" aria-label="Edit" alt="Edit"></i></a>
                    <a asp-page="Delete" asp-route-id="@obj.Id" class="btn btn-danger btn-sm mx-0"><i class="bi bi-trash" role="img" aria-label="Trash" alt="Delete"></i></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <p>Total beers listed : @Model.Beers.Count()</p>
</div>